<div align=center>
<h1><i>welcome<i></h1>

<form>
  Name:<br>
  <input type="text" name="Name"> <br>
  E-mail id:<br>
  <input type="text" name="Mail"> <br>
  Mobile:<br>
  <input type="number" name="Mobile"> <br>
  No. of Members:<br>
  <input type="number" name="Members"> <br><br>
  <button type="button" onclick="Insert()">Submit</button>


</form>
</div>
